@model TestInterview.Models.ChangePasswordVM
@{
    ViewBag.Title = "ChangePassword";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.EditorFor(model => model.oldPassword, new { htmlAttributes = new { @class = "fadeIn second", @placeholder = "Old Password*", @required = "required" } })
    @Html.EditorFor(model => model.newPassword, new { htmlAttributes = new { @class = "fadeIn second", @placeholder = "New Password*", @required = "required" } })
    @Html.EditorFor(model => model.ConfirmnewPassword, new { htmlAttributes = new { @class = "fadeIn second", @placeholder = "Confirm Password*", @required = "required" } })

    <input type="submit" class="underlineHover" href="ChangPassword" value="ChangPassword" />
    <p>
        @TempData["msg"]
    </p>
}
@section Scripts{

    @*<script>
            function checkPassword() {
                var res;
                var str = document.getElementById("oldPassword").value;
                 document.getElementById("pass").innerHTML = ' ';
                if (/*str.match(/[a-z]/g) && str.match(/[A-Z]/g) || str.match( /[0-9]/g) && str.match( /[^a-zA-Z\d]/g) &&*/ str.length >= 4)
                {
                    res = "TRUE";
                }
                else {
                    res = "FALSE";
                    document.getElementById("newPassword").value = '';
                    document.getElementById("pass").innerHTML = '';
                }


            }
        </script>*@



}